.regular-checkbox {
	-webkit-appearance: none;
	background-color: $desk;
	border: 1px solid $divider;
	border-radius: 30px;
	width: $l-size;
	height: $l-size;
	padding: 9px;
	display: inline-block;
	position: relative;
}

.regular-checkbox:checked {
	background-color: $desk;
	border: 1.5px solid $accent-green;
	color: $accent-red;
}

.regular-checkbox:focus{
    outline: none;
}

.regular-checkbox:checked:after {
	content: '\2713';
	font-size: $xl-size;
	font-weight: 50;
	position: absolute;
	top: -20px;
	left: -2px;
	color: $accent-green;
}