// colors

$desk: #FFFFFF;
$background: #EDF0F4;
$text-primary: #626365;
$text-secondary: #8C8D91;
$divider: #D6D9DF;
$accent-red: #E27E73;
$accent-blue: #568EF7;
$accent-violet: #B488C7;
$accent-green: #6EDDB0;
$accent-mint: #B8ECE8;
$accent-peach: #F4CAB7;

// Spacing
$xxxs-size: 0.6rem;
$xxs-size: 0.8rem;
$xs-size: 1.0rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;

$desktop-breakpoint: 45rem;